body{
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

.gray{
    color: gray;
}

.orange{
    color: orange;
}

.header-section{
    background-color: rgb(242, 235, 227);
    margin: 0;
}

/* nav  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
}   

ul li{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

/* hero-area */
.hero-area{
    text-align: center;
}

.orange-btn{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: 0px solid lightgray;
    border-radius: 10px;
    margin: 30px 0;
    padding: 15px;
}

/* section-1  */
.section{
    display: flex;
    align-items: center;
    margin: 0 180px;
    padding: 40px;
}

.half-width{
    width: 50%;
}

/* section - 2  */
.gap{
    margin-bottom: 85px;
}

.experience{
    background-color: orange;
    padding: 20px;
    color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: 45%;
    margin-top: -12%;
    z-index: 1;
}

/* section-3 */
.fact-info{
    margin: 50px 200px;
}

.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 300px;
}


.single-fact{
    border: 1px solid orange;
    display: grid;
    justify-content: center;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
}

/* section-4 */
.sponsored-header{
    text-align: center;
    margin: 100px 40px;
}

.sponsored {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 300px;
}

/* footer  */
footer{
    text-align: center;
    background-color: rgb(242, 235, 227);
    padding: 10px;
    margin: 100px auto;
}

/* mobile responsive design */
@media screen and (max-width: 600px) {
    nav {
        display: block;
        margin: auto;
    }   

    .hero-area img{
        width: 400px;
    }

    .section{
        display: block;
    }

    .half-width{
        width: 100%;
    }
    
    .sponsored, .facts{
        display: block; 
    }
}